<h1 class="text-3xl text-center font-bold text-[#b32e2b] mb-6">Tappe culturali</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mb-8 justify-center">
    <% cards.each do |card| %>
        <div class="flex flex-col bg-gradient-to-br from-white to-sky-100 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:scale-105 mx-auto">
            <div class="relative">
                <%= image_tag card[:image], alt: card[:title], class: "w-full h-[490px] object-cover rounded-t-xl" %>
            </div>
            <div class="flex-1 flex flex-col justify-between p-5">
                <h2 class="text-2xl font-bold text-center text-[#b32e2b] mb-3 tracking-tight"><%= card[:title] %></h2>
                <p class="text-[#0c3261] text-base mb-4 flex-1"><%= card[:description] %></p>
            </div>
        </div>
    <% end %>
</div>
